extends ../common/layout.pug

block extra-head
	link(rel="stylesheet", href="/css/post.css")
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/github.min.css")

block main
	article#post-content
		header.post-content-header
			h1= post.title
			span.date= post.createtime
		.post-content-body
			.article-content!= post.__content
			footer
				.comments-section
					#disqus_thread
						script
							include ./disqus.js

		footer.post-content-footer(flex-row)
			if prev
				a.prev(href="/posts/" + prev)
					label Prev
					p= prev.split("/")[1]
			if next
				a.next(href="/posts/" + next)
					label Next
					p= next.split("/")[1]
